{% extends 'layout.twig' %}

{% set title = (note.title | trim | default('Untitled', true)) + ' - ZNotepad.com' | safe %}
{% set description = note.content_plaintext | truncate(150) | safe | striptags %}

{% set url = "https://znotepad.com/notes/" + note.slug_title %}

{% block SEO %}
    <meta property="ia:markup_url" content="https://znotepad.com/notes/{{ note.slug_title }}">
    <meta property="og:type" content="article"/>
{% endblock %}

{% block styles %}
    <style>
        input#share-url {
            cursor: copy;
        }
    </style>
{% endblock %}

{% block editor %}
    <div class="column is-8">
        <div class="columns">
            <div class="column is-12">
                <div class="control">
                    <input maxlength="70" autocomplete="off" value="{{ note.title }}" name="title"
                           class="input" type="text"
                           placeholder="Note Title">
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">

                <button type="submit" class="button is-primary"><i class="fas fa-save"></i>&nbsp; Save</button>
                <br>
                <label class="checkbox private-mode">
                    <input name="is_private" type="checkbox" {% if note.is_private %} checked {% endif %}>
                    Don't show note public
                </label>
            </div>
        </div>
        <div class="columns has-background-light">
            <div class="column is-12">
                <label class="label">Base Note URL</label>
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        <div class="control is-expanded has-icons-left has-icons-right">
                            <label>
                                <input id="share-url" readonly class="input is-link" type="text" value="https://znotepad.com/notes/{{ note.slug_title }}">
                            </label>
                            <span class="icon is-small is-left">
                                <i class="fas fa-link"></i>
                            </span>
                            <span class="icon is-small is-right">
                                    <i class="far fa-copy"></i>
                            </span>
                        </div>
                    </div>
                    <p class="control">
                        <a href="https://znotepad.com/notes/{{ note.slug_title }}" target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="editor-wrapper">
                    {% include 'partials/editor-toolbar.twig' %}
                    <input id="content-plaintext" name="content_plaintext" type="hidden">
                    <input id="content" name="content" type="hidden">
                    <input name="base_note" type="hidden">
                    <div id="editor-container">{{ note.content | safe }}</div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="message is-warning">
                    <div class="message-body">
                        <p>Your note will be stored forever until we receive <a href="mailto:support@znotepad.com">DMCA report</a> to delete about the note.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            {% include 'partials/what-is-notepad.twig' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <script>
        var editor = new Quill('#editor-container', {
            modules: {toolbar: '#toolbar'},
            theme: 'snow',
            placeholder: 'Compose an epic...',
        });

        function updateNoteContentToElement() {
            document.getElementById('content').value = editor.root.innerHTML;
            document.getElementById('content-plaintext').value = editor.getText();
        }

        updateNoteContentToElement(); // Run it for the first time when visiting "clone-note" page

        editor.on('text-change', function () {
            updateNoteContentToElement();
        });

        document.getElementById("share-url").addEventListener("click", function () {
            this.select();
            document.execCommand('copy');

            notie.alert({ type: 'info', text: 'Copied!', position: 'bottom', time: 2 }) // Hides after 2 seconds
        })
    </script>
{% endblock %}