{% extends 'layout.twig' %}

{% block SEO %}
    <meta property="ia:markup_url" content="https://znotepad.com/notes/{{ note.slug_title }}">
{% endblock %}

{% block styles %}
    <style>
        .share-url input {
            cursor: copy;
        }
    </style>
{% endblock %}

{% block editor %}
    <div class="column is-8">
        <div class="columns">
            <div class="column is-12">
                <h2 class="title is-size-4 is-spaced">What is Notepad online?</h2>
                <p class="is-size-6">It's free Online note document or bookmarks your information. You can
                    write notes and share them quickly with everyone. Click <a href="mailto:support@znotepad.com">DMCA Report</a> to
                    report copyrighted content or information you want to delete on the website.</p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="control">
                    <input maxlength="125" autocomplete="off" value="{{ note.title }}" name="title"
                           class="input" type="text"
                           placeholder="Note Title">
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">

                <button type="submit" class="button is-primary">Save</button>
                <br>
                <label class="checkbox private-mode">
                    <input name="is_private" type="checkbox" {% if note.is_private %} checked {% endif %}>
                    Don't show note public
                </label>
            </div>
        </div>
        <div class="columns has-background-light">
            <div class="column is-12">
                <label class="label">Share URL</label>
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        <div class="control is-expanded has-icons-left has-icons-right">

                            <label class="share-url">
                                <input readonly class="input is-success" type="text" value="https://znotepad.com/notes/{{ note.slug_title }}">
                            </label>
                            <span class="icon is-small is-left">
                                <i class="fas fa-link"></i>
                            </span>
                            <span class="icon is-small is-right">
                                    <i class="far fa-copy"></i>
                            </span>
                        </div>
                    </div>
                    <p class="control">
                        <a href="https://znotepad.com/notes/{{ note.slug_title }}" target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="editor-wrapper">
            <div id="toolbar">
                <button class="ql-bold">Bold</button>
                <button class="ql-italic">Italic</button>
            </div>
            <input value="{{ note.content | safe }}" id="content" name="content" type="hidden">
            <div id="editor-container">{{ note.content | safe }}</div>
        </div>
    </div>
{% endblock %}