{% extends 'layout.twig' %}

{% set url = "https://znotepad.com/notes/" + note.slug_title %}

{% if note.title %}
    {% set title = note.title | trim + ' - ZNotepad.com' %}
{% else %}
    {% set title = 'Untitled - ZNotepad.com' %}
{% endif %}

{% set description = note.content_plaintext | truncate(150) | striptags %}

{% block SEO %}
    <meta property="ia:markup_url" content="https://znotepad.com/notes/{{ note.slug_title }}">
    <meta property="og:type" content="article"/>
{% endblock %}

{% block styles %}
    <style>
        input#share-url {
            cursor: copy;
        }

        .content-wrapper {
            font-size: 14px;
        }

        .box__note_content {
            padding: 2rem;
            background-color: #fff;
            box-shadow: 3px 3px 0 #bababa;
            border: 1px solid #d6d6d6;
        }

        .ql-editor {
            padding: 0 !important;
        }
    </style>
{% endblock %}

{% block editor %}
    <div class="column is-8 box__note_content">
        {% include 'partials/flash-message.twig' %}

        <div class="columns has-background-light">
            <div class="column is-12">
                <label class="label">Share URL</label>
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        <div class="control is-expanded has-icons-left has-icons-right">

                            <label>
                                <input id="share-url" readonly class="input is-link" type="text" value="https://znotepad.com/notes/{{ note.slug_title }}">
                            </label>
                            <span class="icon is-small is-left">
                                <i class="fas fa-link"></i>
                            </span>
                            <span class="icon is-small is-right">
                                    <i class="far fa-copy"></i>
                            </span>
                        </div>
                    </div>
                    <p class="control">
                        <a href="https://znotepad.com/notes/{{ note.slug_title }}" target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <a href="/new-note?base_note={{ note.slug_title }}" class="button is-info"><i class="fas fa-clone"></i>&nbsp;Clone note</a>
                <a id="download-pdf" href="/download/notes/{{ note.slug_title }}?format=pdf" class="button"><i style="color: #FF442D;" class="far fa-file-pdf"></i>&nbsp; Download</a>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <p class="title is-size-4 is-spaced">{{ note.title }}</p>
                <div class="ql-snow content-wrapper">
                    <div class="ql-editor">{{ note.content }}</div>
                    <hr>
                    <nav class="level is-mobile">
                        <div class="level-left"></div>
                        <div class="level-right">
                            <span class="has-text-weight-bold is-size-6">{{ note.visitor_count }} views</span>
                        </div>
                    </nav>
                </div>
                <div class="addthis_inline_share_toolbox"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="message is-warning">
                    <div class="message-body">
                        <p>Your note will be stored forever until we receive <a href="mailto:support@znotepad.com">DMCA report</a> to delete about the note.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            {% include 'partials/what-is-notepad.twig' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c6a59ea650dfb02"></script>
    <script>
        var addthis_config = addthis_config||{};
        addthis_config.data_track_addressbar = false;
        addthis_config.data_track_clickback = false;
    </script>
    <script>
        var clipboard = new ClipboardJS('#share-url', {
            text: function (trigger) {
                return $(trigger).val();
            }
        });

        clipboard.on('success', function() {
            notie.alert({ type: 'info', text: 'Copied!', position: 'bottom', time: 2 }) // Hides after 2 seconds
        });
    </script>
{% endblock %}
